@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html, body {
  height: 100%;
  width: 100%;
  background: #1a1a1a;
  overflow: hidden;
}

*{
  font-family: Inconsolata, monospace;
}

#login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  border: 2px solid #ffffff;
  border-radius: 6px;
  background: #1a1a1a;
  padding: 8px 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-shadow: 0 0 5px #C8C8C8;
}

#login:hover{
  cursor: pointer;
}

#content{
  visibility: hidden;
}

#terminal{
  width: 100vw;
  height: calc(100vh - 25px);
  overflow-x: scroll;
  padding-bottom: 30px;
}

#text{
  margin: 5px;
  color: white;
  font-size: 20px;
  text-shadow: 0 0 5px #C8C8C8;
}

#actionInput{
  height: 25px;
  width: calc(100vw - 8px);
  margin: 0 2px;
  border: 2px solid #ffffff;
  color: white;
  background: #1a1a1a;
  outline: none;
  font-size: 18px;
  border-radius: 2px;
}

#terminal, #actionInput{
  margin: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}