@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  bottom: 0;
  right: 0;
  background: #000522;
  overflow: hidden;
}

#mobileNotice{
  color: #D1D1CD;
}

*{
  font-family: Inconsolata, monospace;
}

#sidebars{
  display: flex;
  height: 50vh;
  width: 60vw;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sidebars > div {
  flex: 1;
}

.sidebar{
  color: #D1D1CD;
  border: 2px solid #cccccc;
  border-radius: 6px;
  padding: 5px;
  overflow-y: scroll;
}

.sidebar h2{
  margin-top: 5px;
  text-align: center;
}

.sidebar hr{
  border: none;
  background-color: #D1D1CD;
  height: 1px;
  margin-top: 0;
}

#supporters li{
  font-size: 18px;
}

#supportPlug{
  margin-top: 20px;
  font-size: 13px;
  bottom: 0;
  text-align: center;
}

#login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #D1D1CD;
  font-size: 24px;
  border: 2px solid #cccccc;
  border-radius: 6px;
  background: #000522;
  padding: 8px 16px;
  text-shadow: none;
  box-shadow: none;
  transition: box-shadow 0.3s ease, text-shadow 0.25s ease;
}

#login:hover{
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-shadow: 0 0 5px #C8C8C8;
}

#login:active{
  box-shadow: none;
}

#loginError{
  color: #D1D1CD;
  position: fixed;
  left: 50%;
  top: calc(50% + 400px);
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 20vw;
}

#plug{
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  color: #D1D1CD;
  margin: 5px;
}

a{
  color: #D1D1CD;
}

a:active{
  color: #BF0000;
}

#game{
  visibility: hidden;
}

#terminal{
  width: 75vw;
  height: calc(100vh - 25px);
  overflow-x: scroll;
  padding-bottom: 30px;
}

#text{
  margin: 5px;
  color: #D1D1CD;
  font-size: 20px;
}

#map{
  position: fixed;
  bottom: 29px;
  right: calc(25vw - 1px);
  margin: 8px;
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 50px 50px 50px;
  gap: 10px;
  opacity: 1;
  transition: opacity 0.25s;
}

#map:hover{
  opacity: 0;
}

.mapTile{
  font-size: 12px;
  color: #D1D1CD;
  background: #000522;
  pointer-events: none;
  border: 1px solid #cccccc;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  text-align: center;
  overflow-wrap: break-word;
  visibility: hidden;
}

.mapTile:hover{
  cursor: default;
}

.mapTile:nth-child(5) {
  color: #98d993;
  border: 1px solid #98d993;
}

#actionInput{
  height: 25px;
  width: calc(75vw - 6px);
  margin: 0 2px;
  border: 2px solid #cccccc;
  color: #D1D1CD;
  background: #000522;
  outline: none;
  font-size: 18px;
  border-radius: 2px;
}

#terminal, #actionInput{
  margin: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

#sidebar{
  width: calc(25vw - 3px);
  height: calc(100vh - 1px);
  margin: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  border: 2px solid #cccccc;
  border-bottom: none;
  border-radius: 2px;
  color: #D1D1CD;
}

#leaderboardBox{
  text-align: center;
}

#leaderboard{
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#leaderboard li{
  font-size: 16px;
  margin: 0;
}

#leaderboard li:nth-of-type(1){
  color: #E9D675;
  font-size: 22px;
  margin-bottom: 2px;
}

#leaderboard li:nth-of-type(2){
  color: #ababab;
  font-size: 18px;
  margin-bottom: 1px;
}

#leaderboard li:nth-of-type(3){
  color: #e59e57;
}

#chatBox{
  position: absolute;
  bottom: 20px;
  text-align: left;
  padding: 0px 5px;
}

#chatInput{
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(25vw - 11px);
  height: 21px;
  padding: 3px;
  border: 2px solid #cccccc;
  background: #000522;
  outline: none;
  color: #D1D1CD;
  font-size: 18px;
  border-radius: 2px;
}

#chat{
  list-style-type: none;
  padding: 0;
  line-height: 20px;
  font-size: 16px;
  overflow-wrap: break-word;
  display: inline-block;
  width: calc(25vw - 12px);
}

#chat li {
	width: calc(25vw - 12px);
}

/* Responsiveness */

/* Mobile */
@media (min-width: 768px){
  #mobileNotice{
    visibility: hidden;
  }
}

/* Desktop */
@media (max-width: 767px){
  html, body{
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    overflow-y: scroll;
  }

  #startMenu{
    text-align: center;
  }

  #login{
    width: 50dvw;
  }

  #plug{
    visibility: hidden;
  }
  
  #terminal, #text, #actionInput{
    font-size: 16px;
  }

  #sidebar{
    visibility: hidden;
    bottom: 0;
    left: 0;
  }

  #actionInput{
    width: calc(100dvw - 8px);
  }

  #terminal{
    width: 100dvw;
    height: calc(100dvh - 25px);
  }

  .sidebar{
    visibility: hidden;
  }

  #loginError{
    width: 95dvw;
    max-width: unset;
  }

  #map{
    top: 5px;
    right: 5px;
  }
}